<a href="https://colab.research.google.com/github/tarsojabbes/data-visualization/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

In [2]:
import numpy as np
import pandas as pd

## **Introduction to Pandas**

In [3]:
data = pd.Series([0.25,0.5,0.75,1], index=['a','b','c','d'])

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
data['b']

0.5

In [7]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

## **Pandas Series**

In [8]:
grades_dict = {'A': 4, 'B': 3.5, 'C': 3, 'D': 2.5}
grades = pd.Series(grades_dict)

In [9]:
grades

A    4.0
B    3.5
C    3.0
D    2.5
dtype: float64

In [10]:
marks_dict = {'A': 85, 'B': 75, 'C': 65, 'D': 55}
marks = pd.Series(marks_dict)

In [11]:
marks['A']

85

## **Pandas DataFrame**

In [12]:
df = pd.DataFrame({'grades': grades, 'marks': marks})

In [13]:
df

   grades  marks
A     4.0     85
B     3.5     75
C     3.0     65
D     2.5     55

In [14]:
df['scaled marks'] = np.floor(100*(df['marks']/90))

In [15]:
df

   grades  marks  scaled marks
A     4.0     85          94.0
B     3.5     75          83.0
C     3.0     65          72.0
D     2.5     55          61.0

## **Missing Values**

In [16]:
missing_values = pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

In [17]:
missing_values

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [18]:
missing_values.fillna(0)

     a  b    c
0  1.0  2  0.0
1  0.0  3  4.0

## **Pandas Indexing**

In [19]:
example = pd.Series(['a', 'b', 'c'], index=[1,7,5])

Explicit indexes (the indexes we expose when creating our series) (loc() can be used)

In [20]:
print(example[1])
print(example[7])

a
b

Implicit indexes (the normal array indexing)

In [21]:
print(example.iloc[0:3])

1    a
7    b
5    c
dtype: object

## **Pandas Practice**

In [22]:
from google.colab import files
import io

uploaded = files.upload()

Saving data.csv to data.csv

In [23]:
data = pd.read_csv(io.BytesIO(uploaded['data.csv']), header=None)

In [24]:
data.columns = ['C' + str(x) for x in range(data.shape[1])]

In [25]:
data.head()

   C0                 C1      C2          C3  ...  C11 C12             C13     C14
0  39          State-gov   77516   Bachelors  ...    0  40   United-States   <=50K
1  50   Self-emp-not-inc   83311   Bachelors  ...    0  13   United-States   <=50K
2  38            Private  215646     HS-grad  ...    0  40   United-States   <=50K
3  53            Private  234721        11th  ...    0  40   United-States   <=50K
4  28            Private  338409   Bachelors  ...    0  40            Cuba   <=50K

[5 rows x 15 columns]

Changing the anual wage salary from '>=50k' and '<50k' to 1 and -1

In [26]:
label = data['C14'].unique()

In [27]:
idx = data['C14']==label[0]

In [28]:
data['C14'].loc[idx] = -1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [29]:
data['C14'].loc[~idx] = 1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

Changing the job type from string type to columns

In [30]:
data['C1'].unique().size # We have 9 different job types

9

In [31]:
data = pd.get_dummies(data, columns = ['C1', 'C14'])

C1 columns will be deleted and we'll see the addition of 9 columns named C1_'job_type', as well as C14 now as C14_-1 and C14_1

In [32]:
data

       C0      C2           C3  ...  C1_ Without-pay C14_-1 C14_1
0      39   77516    Bachelors  ...                0      1     0
1      50   83311    Bachelors  ...                0      1     0
2      38  215646      HS-grad  ...                0      1     0
3      53  234721         11th  ...                0      1     0
4      28  338409    Bachelors  ...                0      1     0
...    ..     ...          ...  ...              ...    ...   ...
32556  27  257302   Assoc-acdm  ...                0      1     0
32557  40  154374      HS-grad  ...                0      0     1
32558  58  151910      HS-grad  ...                0      1     0
32559  22  201490      HS-grad  ...                0      1     0
32560  52  287927      HS-grad  ...                0      0     1

[32561 rows x 24 columns]

## **Pandas GroupBy**

In [33]:
dataframe = pd.DataFrame({'ProductName': ['Bulb', 'Bulb', 'Fan', 'Fan'], 
                          'Type': ['A', 'B', 'A', 'A'],
                          'EC': [400., 300., 250.,300.]})

In [34]:
dataframe.groupby([dataframe.Type]).sum()

         EC
Type
A     950.0
B     300.0

In [35]:
dataframe.groupby([dataframe.ProductName, dataframe.Type]).sum()

                     EC
ProductName Type
Bulb        A     400.0
            B     300.0
Fan         A     550.0

## **Pandas Hierarchical Indexing**

In [36]:
a = [['Bulb', 'Bulb', 'Bulb', 'Fan', 'Fan', 'Fan'],
     ['A', 'B', 'C', 'A', 'B', 'C']]

index = pd.MultiIndex.from_arrays(a, names=('ProductName', 'Type'))
df = pd.DataFrame({'EC': [20., 30, 40, 25, 10, 30]}, index=index)

In [37]:
df

                    EC
ProductName Type
Bulb        A     20.0
            B     30.0
            C     40.0
Fan         A     25.0
            B     10.0
            C     30.0

This will sum the Energy Consumption in the level of the first columns, the ProductName

In [38]:
df.groupby(level=0).sum()

               EC
ProductName
Bulb         90.0
Fan          65.0

This will sum the energy Consumption in the level of the second column, the Type

In [39]:
df.groupby(level=1).sum()

        EC
Type
A     45.0
B     40.0
C     70.0

## **Pandas Rolling**

In [40]:
df = pd.DataFrame({'A': np.random.randint(0,10,5),
                   'B': np.random.randint(0,10,5),
                   'C': np.random.randint(0,10,5)})

In [41]:
df

   A  B  C
0  1  0  9
1  9  8  5
2  1  2  7
3  4  3  9
4  8  2  3

In [42]:
df.rolling(2,min_periods=1).sum()

      A     B     C
0   1.0   0.0   9.0
1  10.0   8.0  14.0
2  10.0  10.0  12.0
3   5.0   5.0  16.0
4  12.0   5.0  12.0

## **Pandas Where**

In [43]:
df = pd.DataFrame(np.arange(10).reshape(5,2), columns=['A', 'B'])

In [44]:
df.where(df<5, -df) # Where this condition is false, we do the action

   A  B
0  0  1
1  2  3
2  4 -5
3 -6 -7
4 -8 -9

## **Pandas Clip**

In [45]:
df = pd.DataFrame(np.random.randint(0,50,(5,10)), columns=list("ABDCEFGHIJ"))

In [46]:
df

    A   B   D   C   E   F   G   H   I   J
0  36  37  26  19   9  14  30   5  27   8
1  23  49  31   5  11   4   9  26  34  29
2  33  26  39  46  30  40  38  40  14  14
3  37   6  10  34  10  19  16   8  40   8
4   5  18  49  27   4  14  26  38  23   4

With clip it's possible to define the lower and upper boundaries to numeric values. Each value that is small than the lower level will be increase until it reaches the lower values. If it's bigger, it will be decreased until it reaches the upper boundary.

In [47]:
df.clip(10, 30)

    A   B   D   C   E   F   G   H   I   J
0  30  30  26  19  10  14  30  10  27  10
1  23  30  30  10  11  10  10  26  30  29
2  30  26  30  30  30  30  30  30  14  14
3  30  10  10  30  10  19  16  10  30  10
4  10  18  30  27  10  14  26  30  23  10

## **Pandas Merge**

In [48]:
df1 = pd.DataFrame({'E':[ 'B', 'G', 'L', 'S'],
                    'G': ['A', 'E', 'E', 'H']})
df2 = pd.DataFrame({'E': ['L', 'B', 'G', 'S'],
                    'H':[2004, 2008, 2012, 2018]})

In [49]:
pd.merge(df1, df2)

   E  G     H
0  B  A  2008
1  G  E  2012
2  L  E  2004
3  S  H  2018

In [50]:
df3 = pd.merge(df1, df2)

In [51]:
df4 = pd.DataFrame({'G': ['A', 'E', 'H'],
                    'S': ['C', 'G', 'S']})

In [52]:
pd.merge(df3, df4, on="G")

   E  G     H  S
0  B  A  2008  C
1  G  E  2012  G
2  L  E  2004  G
3  S  H  2018  S

## **Pandas Pivot Table**

In [53]:
from seaborn import load_dataset

In [54]:
titanic = load_dataset('titanic')

In [55]:
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [56]:
titanic.rename(columns={'sex': 'gender'}, inplace=True)

In [57]:
titanic.drop(['deck'], axis=1, inplace=True)

In [58]:
titanic.groupby(['gender', 'class'])['survived'].mean().unstack()

class      First    Second     Third
gender
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [59]:
titanic.pivot_table('survived', index='gender', columns='class', aggfunc='mean')

class      First    Second     Third
gender
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [60]:
agePartition = pd.cut(titanic['age'], [0,18, 80])

In [61]:
agePartition

0      (18.0, 80.0]
1      (18.0, 80.0]
2      (18.0, 80.0]
3      (18.0, 80.0]
4      (18.0, 80.0]
           ...
886    (18.0, 80.0]
887    (18.0, 80.0]
888             NaN
889    (18.0, 80.0]
890    (18.0, 80.0]
Name: age, Length: 891, dtype: category
Categories (2, interval[int64]): [(0, 18] < (18, 80]]

In [62]:
titanic.pivot_table('survived', ['gender', agePartition], 'class')

class               First    Second     Third
gender age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 80]  0.972973  0.900000  0.423729
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 80]  0.375000  0.071429  0.133663

In [63]:
fare_partition = pd.qcut(titanic['fare'], 2)

In [64]:
titanic.pivot_table('survived', ['gender', agePartition, fare_partition], 'class')

class                                 First    Second     Third
gender age      fare
female (0, 18]  (-0.001, 14.454]        NaN  1.000000  0.714286
                (14.454, 512.329]  0.909091  1.000000  0.318182
       (18, 80] (-0.001, 14.454]        NaN  0.880000  0.444444
                (14.454, 512.329]  0.972973  0.914286  0.391304
male   (0, 18]  (-0.001, 14.454]        NaN  0.000000  0.260870
                (14.454, 512.329]  0.800000  0.818182  0.178571
       (18, 80] (-0.001, 14.454]   0.000000  0.098039  0.125000
                (14.454, 512.329]  0.391304  0.030303  0.192308

In [65]:
titanic.pivot_table(index="gender", columns="class", aggfunc={'survived': 'sum', 'fare': 'mean'})

              fare                       survived
class        First     Second      Third    First Second Third
gender
female  106.125798  21.970121  16.118810       91     70    72
male     67.226127  19.741782  12.661633       45     17    47

## **Pandas Strings**

The strings methods allow us to deal with string type data in our dataframes

In [66]:
titanic.head()

   survived  pclass  gender   age  ...  adult_male  embark_town  alive  alone
0         0       3    male  22.0  ...        True  Southampton     no  False
1         1       1  female  38.0  ...       False    Cherbourg    yes  False
2         1       3  female  26.0  ...       False  Southampton    yes   True
3         1       1  female  35.0  ...       False  Southampton    yes  False
4         0       3    male  35.0  ...        True  Southampton     no   True

[5 rows x 14 columns]

In [68]:
titanic.gender.str.upper()

0        MALE
1      FEMALE
2      FEMALE
3      FEMALE
4        MALE
        ...
886      MALE
887    FEMALE
888    FEMALE
889      MALE
890      MALE
Name: gender, Length: 891, dtype: object

In [70]:
titanic.gender.str.len()

0      4
1      6
2      6
3      6
4      4
      ..
886    4
887    6
888    6
889    4
890    4
Name: gender, Length: 891, dtype: int64

## **Pandas DateTime**

In [71]:
from datetime import datetime

pd.to_datetime() will format out dates to YYYY-MM-DD format

In [72]:
dates = pd.to_datetime([datetime(2010, 7,3), '10th of July, 2019', '2017-Jul-19', '10-09-2016', '20160305'])

In [73]:
dates

DatetimeIndex(['2010-07-03', '2019-07-10', '2017-07-19', '2016-10-09',
               '2016-03-05'],
              dtype='datetime64[ns]', freq=None)