<a href="https://colab.research.google.com/github/tarsojabbes/data-visualization/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

In [1]:
import numpy as np
import pandas as pd

## **Introduction to Pandas**

In [2]:
data = pd.Series([0.25,0.5,0.75,1], index=['a','b','c','d'])

In [6]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
data['b']

0.5

In [8]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

## **Pandas Series**

In [9]:
grades_dict = {'A': 4, 'B': 3.5, 'C': 3, 'D': 2.5}
grades = pd.Series(grades_dict)

In [10]:
grades

A    4.0
B    3.5
C    3.0
D    2.5
dtype: float64

In [11]:
marks_dict = {'A': 85, 'B': 75, 'C': 65, 'D': 55}
marks = pd.Series(marks_dict)

In [13]:
marks['A']

85

## **Pandas DataFrame**

In [14]:
df = pd.DataFrame({'grades': grades, 'marks': marks})

In [15]:
df

   grades  marks
A     4.0     85
B     3.5     75
C     3.0     65
D     2.5     55

In [16]:
df['scaled marks'] = np.floor(100*(df['marks']/90))

In [17]:
df

   grades  marks  scaled marks
A     4.0     85          94.0
B     3.5     75          83.0
C     3.0     65          72.0
D     2.5     55          61.0

## **Missing Values**

In [19]:
missing_values = pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

In [20]:
missing_values

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [21]:
missing_values.fillna(0)

     a  b    c
0  1.0  2  0.0
1  0.0  3  4.0

## **Pandas Indexing**

In [22]:
example = pd.Series(['a', 'b', 'c'], index=[1,7,5])

Explicit indexes (the indexes we expose when creating our series) (loc() can be used)

In [24]:
print(example[1])
print(example[3])

a
b

Implicit indexes (the normal array indexing)

In [31]:
print(example.iloc[0:3])

1    a
3    b
5    c
dtype: object